{% extends "base.html" %}
{% block content %}

<img src="static/images/logo.png" alt="Shire_Selections_Logo" class="bottom-left">


<section>
    <h2>ADD PRODUCT</h2>
    <div>
        <form action="/add_product" method="POST">
            <div>
                <label for="name">NAME</label>
                <input type="text" id="name" name="name">
                <br>
                <label for="description">DESCRIPTION</label>
                <input type="text" id="description" name="description">
                <br>
                <label for="quantity">QUANTITY</label>
                <input type="text" id="quantity" name="quantity">
                <br>
                <label for="buying_cost">BUYING COST</label>
                <input type="text" id="buying_cost" name="buying_cost">
                <br>
                <label for="selling_price">SELLING PRICE</label>
                <input type="text" id="selling_price" name="selling_price">
                <br>
                <label for="manufacturer">MANUFACTURER</label>
                <select id="manufacturer" name="manufacturer">
                    {% for manufacturer in manufacturers %}
                        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                    {% endfor %}
                </select>
                
                <input type="submit" value="ENTER">
            </div>
        
        </form>
    </div>
</section>

{% endblock %}