{% extends "base.html" %}
{% block content %}

<h1>INVENTORY</h1>

{% for product in products %}

<section>
    <div>
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.quantity }}</p>
        <p>{{ product.buying_cost }}</p>
        <p>{{ product.selling_price }}</p>
        <p>{{ product.manufacturer_id.id }}</p>
        <p>{{ product.id }}</p>
        <a href="/inventory/{{ product.id }}/edit">EDIT</a>
        <form action="/inventory/{{ product.id }}">
            <input type="submit" value="DELETE">
        </form>
        <br>
    </div>
</section>


{% endfor %}




{% endblock %}