{% extends "base.html" %}
{% block content %}

<h1>MANUFACTURER INFO...</h1>

<img src="static/images/logo.png" alt="Shire_Selections_Logo" class="bottom-left">


<div align="center" class="content-table">
<table class="table-head manufacturer_list">
    
        <tr>
          <th>NAME</th>
          <th>CONTACT-DETAILS</th>
          <th>INFO</th>
        </tr>
      
</table>
{% for manufacturer in manufacturers %}

<table align="center" class="manufacturer_list">

    <tr>
        <td>{{ manufacturer.name }}</td>
        <td>{{ manufacturer.contact_details }}</td>
        <td>{{ manufacturer.info }}</td>
        
    </tr>
</table>

<div id="editdeletebuttons">
    <a href="/manufacturer_info/{{ manufacturer.id }}/edit">EDIT</a>
    <form action="/manufacturer_info/{{ manufacturer.id }}">
        <input type="submit" value="DELETE">
</form>
</div>


{% endfor %}

</div>




<section class="add_manufacturer">
    <h2>ADD MANUFACTURER</h2>
    <div>
        <form action="/manufacturer_info" method="POST">
            <div>
                <label for="name">NAME</label>
                <input type="text" id="name" name="name">
                <br>
                <label for="contact_details">CONTACT DETAILS</label>
                <input type="text" id="contact_details" name="contact_details">
                <br>
                <label for="info">INFO</label>
                <input type="text" id="info" name="info">
                <br>
                <input type="submit" value="ENTER">
            </div>
        
        </form>
    </div>
</section>





{% endblock %}